/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Plus Jakarta Sans";
  background-color: #E4F4FD;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.mortgageCalculator {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-inline: 24px;
  padding-block: 32px;
}

.results {
  display: none;
}

.d-blok {
  display: block;
}

.d-none {
  display: none;
}

.head-text h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #133041;
  margin-bottom: 8px;
}

.head-text button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4E6E7E;
  text-decoration: underline;
  border-style: none;
  background-color: #fff;
}

.input input {
  height: 48px;
  border-style: none;
}

.amount input, .term input, .rate input {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.5;
}

.term-icon, .rate-icon {
  margin-left: auto;
}

.amount input {
  padding-left: 16px;
}

.amount-icon, .term-icon, .rate-icon {
  padding: 12.5px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.5px;
  border-style: none;
}

.c-red {
  background-color: #D73328;
  color: #fff;
  border: 1px solid #D73328;
}

.c-yellow {
  background-color: #D8DB2F;
  color: #fff;
  border: 1px solid #D8DB2F;
}

.c-blue {
  background-color: #E4F4FD;
  border: 1px solid #6B94A8;
  color: #4E6E7E;
}

/* Hatalı giriş yapıldığında hata mesajını göster */
.warn-text.error-msg {
  display: inline;
  color: #D73328;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

/* Hata mesajlarını ilk başta gizle */
.warn-text.error-msg {
  display: none;
}

.term input{
  padding-left: 16px;
}

.rate input{
  padding-left: 16px;
}

.input-rate, .input-term {
  display: grid;
  grid-template-columns: 8fr 1fr;
  border-radius: 4px;
}

.input-amount {
  display: grid;
  grid-template-columns: 1fr 8fr;
  border-radius: 4px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card h3 {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #4E6E7E;
  margin-bottom: 12px;
}

.type {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.type input[type="radio"] {
  display: block;
}

.type label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.type label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #4E6E7E;
  border-radius: 50%;
  background-color: #fff;
  transition: border-color 0.2s ease;
}

.type input[type="radio"]:checked + label::before {
  border-color: #D8DB2F;
  background-color: #D8DB2F;
}

.type input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
}

.repaymentTxt, .interestTxt {
  display: flex;
  gap: 16px;
  padding: 12px 16px;
  border: 1px solid #6B94A8;
  border-radius: 4px;
}

.repaymentTxt p, .interestTxt p, .calculateArea button{
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
  color: #133041;
}

.calculateArea button {
  background-color: #D8DB2F;
  border-radius: 999px;
  padding-block: 16px;
  display: flex;
  gap: 12px;
  border-style: none;
  width: 327px;
  justify-content: center;
}

.shownTxt, .results {
  background-color: #133041;
  padding-inline: 24px;
  padding-block: 32px;
  text-align: center;
}

.shown-img {
  max-width: 192px;
  margin-inline: auto;
  margin-bottom: 16px;
}

.shown-content h3, .head-result h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.shown-content p, .head-result p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #9ABED5;
}

.head-result {
  margin-bottom: 24px;
}

.repayCont {
  background-color: #0e2431;
  border-top: 4px solid #D8DB2F;
  text-align: left;
  padding: 24px 16px;
  border-radius: 8px;
}

.repayCont h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #9ABED5;
  margin-bottom: 8px;
}

.monthly-repay{
  border-bottom: 1px solid #9ABED540;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.monthly-price {
  font-size: 40px;
  font-weight: 700;
  line-height: 50.4px;
  color: #D8DB2F;
}

.total-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

/* Number input'larındaki spinner'ı gizler */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Tablet Start */

@media (width > 375px) {

  .container {
    background-color: #E4F4FD;
  }

  .container-inner {
    padding-block: 40px;
  }

  .mortgageCalculator {
    gap: 40px;
    padding: 40px;
    max-width: 688px;
    margin-inline: auto;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-bottom: 0;
  }

  .shownTxt, .results {
    padding: 40px;
    max-width: 688px;
    margin-inline: auto;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .monthly-price {
    font-size: 56px;
    line-height: 70px;
  }
  
  .monthly-repay{
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .repayCont {
    padding: 32px;
  }

  .head-result {
    margin-bottom: 40px;
  }

  .input-bottom {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }

  .input-rate, .input-term {
    width: 292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Desktop Start */

@media (width > 768px) {

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }

  .container-inner {
    padding: 0;
    display: flex;
    max-width: 1008px;
    margin-inline: auto;
    border-radius: 24px;
    background-color: #fff;
  }

  .mortgageCalculator {
    gap: 40px;
    padding: 40px;
    max-width: 688px;
    border-top-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
    margin-bottom: 0;
    margin-inline: 0;
  }

  .shownTxt {
    align-items: center;
    justify-content: center;
    background-color: #133041;
    max-width: 504px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 80px;
    margin-inline: 0;
    padding-block: 112px;
  }

  .results {
    max-width: 504px;
    text-align: left;
  }

  .input-rate, .input-term {
    width: 200px;
  }

  .term input, .rate input {
    width: 120px;
  }
}